
/* CSS GENERAL */
body {
    margin: 0;
    padding: 0;
    color: #666;
    line-height: 1.5em;
    font-family: sans-serif;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}

p {
    margin: 0 0 1.5em 0;
}
/* PARTE DEL ENCABEZADO */
#encabezado {
    background: #333;
    color: white;
    height: 80px;
}
#encabezado a {
    color: white;
}


/*MIRAR BIEN EL CODIGO, FALTA COMENTAR */

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}
.menu a:hover {
    background: #0b76a6;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    min-width: 107px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #0b76a6;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#principal{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    text-align: center;


    box-shadow: 0 0 10px rgba(0,0,0,.1);

}

#principal2{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    text-align: center;

    box-shadow: 0 0 10px rgba(0,0,0,.1);

}

#principal3{
    background-color:  #eaf3fc;
    margin: 1rem;
    padding: 1rem;
    text-align: center;

    box-shadow: 0 0 10px rgba(0,0,0,.1);

}

input{
    margin: 1vh;
}